<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>Bro army size</title>
  <link rel="stylesheet" href="styles.css">
  <script type="text/javascript">
    var appInsights=window.appInsights||function(a){
      function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c
    }({
      instrumentationKey: "df6a9e12-b6e7-46cc-9d5e-1325f0ee4109"
    });

    window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView();
  </script>
</head>
<body>
  <div id="app-container" class="c-app-container">
    <div class="c-preloader">
      <transition name="c-preloader__inner">
        <div v-if="!loaded" class="l-preloader__inner c-preloader__inner">
          <img src="brofist.svg" class="c-preloader__brofist">
        </div>
      </transition>
    </div>
    <app v-if="loaded"></app>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuex@3.0.1/dist/vuex.js"></script>
<script src="https://cdn.jsdelivr.net/npm/d3@3.5.3/d3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/topojson@1.6.9/topojson.min.js"></script>
<script src="datamaps.world.hires.min.js"></script>
<script src="store.js"></script>
<script src="components.js"></script>
<script src="index.js"></script>
</html>